:root {
  --theme-default: #ff4c3b; }

/**=====================
    63.  Document CSS Start
==========================**/
.pl-40 {
  padding-left: 40px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.warning-block {
  background-color: rgba(255, 166, 64, 0.5);
  padding: 20px;
  border-left: 5px solid #ff9f40; }

.dark-block {
  background-color: rgba(224, 217, 209, 0.3);
  padding: 20px;
  border-left: 5px solid #2f3c4e; }

ul.list-style {
  margin-bottom: 2rem; }
  ul.list-style li {
    margin-bottom: 0.5rem;
    list-style-type: circle; }
    ul.list-style li:last-child {
      margin-bottom: 0; }

.card {
  margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px #e1e1e1;
          box-shadow: 0 0 8px #e1e1e1;
  border: 0; }
  .card .card-header {
    padding: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320))) calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
    border-bottom: 0; }
    .card .card-header h5 {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 17px; }
  .card .card-body {
    border: none;
    padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))); }

.border-img {
  border: 3px solid #e1e1e1; }

.page-footer {
  margin: 0;
  display: block;
  padding: 0; }
  .page-footer .page-changes-summary {
    border-top: 2px solid #e8ebf2;
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 25px; }
    .page-footer .page-changes-summary .contributors {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .page-footer .page-changes-summary .contributors .avtar-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .page-footer .page-changes-summary .contributors .avtar-list .page-edit-date i {
          margin-right: 5px;
          color: #898989;
          font-size: 20px; }
      .page-footer .page-changes-summary .contributors .page-rating {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .page-footer .page-changes-summary .contributors .page-rating .page-rating-title {
          margin-right: 15px; }
        .page-footer .page-changes-summary .contributors .page-rating .page-rating-icons span {
          color: #74818d;
          width: 1.4em;
          cursor: pointer;
          height: 1.4em;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          font-size: 18px;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          background-color: #e6ecf1;
          margin: 0px 8px;
          padding: 0px;
          border-radius: 50%;
          -webkit-transition: background-color 250ms ease 0s, color 250ms ease 0s, tranform 250ms ease 0s;
          transition: background-color 250ms ease 0s, color 250ms ease 0s, tranform 250ms ease 0s; }
          .page-footer .page-changes-summary .contributors .page-rating .page-rating-icons span:hover {
            background-color: #a5a5a5;
            color: white;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease; }
          .page-footer .page-changes-summary .contributors .page-rating .page-rating-icons span:nth-child(2):hover {
            background-color: #ffbc58; }
          .page-footer .page-changes-summary .contributors .page-rating .page-rating-icons span:nth-child(3):hover {
            background-color: #81ba00; }
  .page-footer .avtar-list img {
    width: 30px; }

.btn-group-element {
  margin-bottom: -15px; }
  .btn-group-element > * {
    margin-bottom: 15px; }

.m-width {
  max-width: 1550px; }

.main-title {
  color: #333;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-weight: 700; }

.border-shape {
  display: block;
  left: 0;
  margin: 15px auto;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
  height: 4px; }

.features {
  background-color: white;
  border-radius: 15px;
  border: 1px solid #ddd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .features .f-block {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
    .features .f-block:nth-child(6n) {
      border-right: none; }
    .features .f-block:nth-child(19), .features .f-block:last-child {
      border-bottom: none; }
    .features .f-block:hover img {
      -webkit-box-shadow: 0 0 35px white;
              box-shadow: 0 0 35px white;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .features .f-block:focus img {
      background-color: yellow; }
    .features .f-block:last-child {
      border-right: none; }
    .features .f-block img {
      border-radius: 100%;
      width: 80px;
      overflow: hidden;
      -webkit-transition: all 0.9s ease-out;
      transition: all 0.9s ease-out; }
    .features .f-block h6 {
      -webkit-transition: all 0.9s ease-out;
      transition: all 0.9s ease-out; }
    .features .f-block h6 {
      font-weight: 700;
      color: #777;
      text-align: center;
      margin-top: 10px;
      font-size: 14px; }

.star-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .star-sec .fa-star {
    color: #F2B827;
    margin-right: 5px; }

.right-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .right-star p {
    margin-bottom: 0; }
    .right-star p span {
      color: #0084B4; }

.review-sec .review-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.review-sec .card-body p {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  padding: 0; }

.review-sec .card-body .media {
  margin-bottom: 20px; }

.review-sec .btn {
  font-weight: 600; }

.brand-sec {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }
  .brand-sec h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    overflow-wrap: break-word;
    color: #242A31;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px; }

.quick-links h5 {
  padding: 15px 20px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color: #2a3142; }

.quick-links li {
  padding-bottom: 5px; }
  .quick-links li a {
    font-size: 14px;
    color: #898989;
    font-weight: 600; }
    .quick-links li a:hover {
      letter-spacing: 1.5px;
      color: var(--theme-default); }

.main-table-sec h5 {
  color: #242A31;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 24px; }

.main-table-sec .table-wrapper {
  margin: 0;
  display: block;
  padding: 0;
  overflow: visible;
  position: relative; }
  .main-table-sec .table-wrapper .table-scroll {
    margin: 0;
    display: block;
    padding: 0;
    overflow: auto;
    position: relative; }
    .main-table-sec .table-wrapper .table-scroll table {
      width: 100%;
      position: relative;
      border-collapse: collapse;
      page-break-inside: auto;
      font-size: 15px; }
      .main-table-sec .table-wrapper .table-scroll table tr:first-child {
        border-bottom: 1px solid #e8ebf2; }
        .main-table-sec .table-wrapper .table-scroll table tr:first-child span {
          font-size: 16px;
          font-weight: 600;
          color: #2a3142; }
      .main-table-sec .table-wrapper .table-scroll table tr td {
        width: auto;
        padding: 8px;
        position: relative;
        -ms-flex-item-align: start;
            align-self: start;
        border-top: none;
        -ms-flex-align: start;
            align-items: start;
        border-right: none;
        border-bottom: none;
        -webkit-box-align: start;
        text-align: left; }
        .main-table-sec .table-wrapper .table-scroll table tr td span {
          font-size: 100%;
          font-weight: 500;
          line-height: 1.625;
          margin-right: 5px; }

.link-primary {
  color: var(--theme-default);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.7; }
  .link-primary:hover {
    color: var(--theme-default);
    opacity: 1; }

.mode {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mode i {
    font-size: 16px;
    font-weight: 600;
    margin-right: 5px;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.menu > .nav-item > .nav-link {
  padding: 25px;
  line-height: 1.4;
  font-weight: 600;
  color: #2a3142;
  letter-spacing: 1px; }

.menu > .nav-item:hover > i {
  color: var(--theme-default); }

.menu > .nav-item:hover .nav-link {
  color: var(--theme-default); }

.menu > .nav-item.active > i {
  color: var(--theme-default); }

.menu > .nav-item.active .nav-link {
  color: var(--theme-default); }
  .menu > .nav-item.active .nav-link:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
    background: #209ff0; }

.nav_btn {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 25px;
  text-align: center;
  border-radius: 4px;
  border: 2px solid white;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-left: 80px;
  background: white;
  color: var(--theme-default); }
  .nav_btn:hover {
    background: var(--theme-default);
    border-color: var(--theme-default);
    color: white; }
    .nav_btn:hover i {
      color: white; }

.nav_btn.icon-btn {
  border-color: #79ccde; }
  .nav_btn.icon-btn i {
    color: #79ccde;
    padding-right: 10px; }

.mcsb-inside > .mcsb-container {
  margin-right: 0; }

.mobile_dropdown_icon {
  display: none; }

.navbar-brand img + img {
  display: none; }

.menu_one {
  background: white;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  .menu_one + div {
    margin-top: 100px; }
  .menu_one + section {
    margin-top: 100px; }
  .menu_one .menu > .nav-item .nav-link {
    position: relative;
    color: #6b707f;
    font-weight: 600; }
  .menu_one .menu > .nav-item:hover > .nav-link {
    color: var(--theme-default); }
  .menu_one .menu > .nav-item.active > .nav-link {
    color: var(--theme-default); }

.navbar_fixed {
  position: fixed; }

.navbar_fixed.menu_one {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  background: white;
  -webkit-transition: all 0.2s, top 0.4s linear;
  transition: all 0.2s, top 0.4s linear;
  margin-top: 0; }
  .navbar_fixed.menu_one .menu > .nav-item {
    padding-bottom: 25px;
    padding-top: 25px; }
    .navbar_fixed.menu_one .menu > .nav-item > .nav-link {
      color: #6b707f; }
    .navbar_fixed.menu_one .menu > .nav-item:hover > .nav-link {
      color: var(--theme-default); }
  .navbar_fixed.menu_one .menu > .nav-item.active > .nav-link {
    color: var(--theme-default); }
  .navbar_fixed.menu_one .nav_btn {
    color: var(--theme-default);
    border: 2px solid #79ccde; }
    .navbar_fixed.menu_one .nav_btn:hover {
      background: var(--theme-default);
      color: white;
      border-color: var(--theme-default); }

.navbar-toggler {
  padding-right: 0;
  padding-left: 0; }
  .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }

.menu_toggle {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
  display: block; }

.dark {
  position: absolute;
  width: 100%;
  left: 0;
  height: auto;
  bottom: 0;
  z-index: -1; }

.overlay_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 19, 50, 0.8); }

.document-area {
  z-index: 0; }
  .document-area .overlay_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1d2746;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear; }
  .document-area .shortcode_title {
    margin-bottom: 40px; }
    .document-area .shortcode_title h1 {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 12px; }
    .document-area .shortcode_title h4 {
      margin-bottom: 15px; }
    .document-area .shortcode_title p span {
      font-weight: 500; }
    .document-area .shortcode_title .s_title {
      margin-bottom: 10px; }
    .document-area .shortcode_title + ul {
      margin-top: -0.8rem; }

.nav-sidebar {
  margin-bottom: 0; }
  .nav-sidebar .nav-item {
    margin-bottom: 5px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; }
    .nav-sidebar .nav-item > .nav-link .icon {
      font-size: 20px;
      color: #6b707f;
      float: right;
      position: absolute;
      right: 30px;
      top: -2px;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear; }
  .nav-sidebar .nav-item.active .icon {
    color: var(--theme-default);
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  .nav-sidebar + .nav-sidebar {
    border-top: 1px solid #e5e9eb;
    padding-top: 20px; }

.documentation_info .anchorjs-link {
  font-size: 22px !important; }

.mCSB_scrollTools {
  width: 0; }

.mobile_menu {
  width: 300px;
  position: fixed;
  height: 100vh;
  max-height: 100vh !important;
  top: 0;
  background: white;
  right: -300px;
  z-index: 1050;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear; }
  .mobile_menu .left-sidebar {
    padding-left: 20px; }
    .mobile_menu .left-sidebar:before {
      display: none; }
  .mobile_menu .close_nav {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 28px; }

.mobile_menu.open {
  right: 0; }

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 230px; }

.row.doc-container {
  padding-top: 100px; }

.fontsize-controllers .btn-group {
  border: 1px solid #dfe2e4;
  background-color: white;
  -webkit-box-shadow: 0 1px 0 0 rgba(3, 13, 37, 0.2), inset 0 -8px 14px 0 rgba(3, 13, 37, 0.1);
          box-shadow: 0 1px 0 0 rgba(3, 13, 37, 0.2), inset 0 -8px 14px 0 rgba(3, 13, 37, 0.1);
  border-radius: 4px; }
  .fontsize-controllers .btn-group .btn {
    font-size: 16px;
    font-weight: 400;
    color: #1d2746;
    line-height: 1.2;
    border: 0; }
    .fontsize-controllers .btn-group .btn:focus {
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      background: #eff0f1; }

.shortcode_text .shortcode_title p {
  margin-bottom: 20px; }

.shortcode_text ul li {
  margin-bottom: 6px; }
  .shortcode_text ul li a {
    color: #6b707f; }
    .shortcode_text ul li a:hover {
      color: var(--theme-default); }

.toggle_body {
  border: 1px solid #e8ecee;
  padding: 25px 30px;
  border-top: 0;
  border-radius: 4px;
  line-height: 1.7; }

.toggle-code {
  padding-bottom: 60px; }

.toggle_btn {
  display: block;
  font-weight: 500;
  color: #1d2746;
  background: #f0f2f5;
  text-align: left;
  border-radius: 4px;
  position: relative;
  font-size: 18px;
  padding: 15px 30px; }
  .toggle_btn:before {
    content: "C";
    position: absolute;
    font-size: 18px;
    font-family: ElegantIcons;
    right: 30px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: var(--theme-default); }
  .toggle_btn:focus {
    color: #1d2746; }

.toggle_btn.collapsed:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  color: #1d2746; }

.toggle_body {
  border: 1px solid #e8ecee;
  padding: 25px 30px;
  border-top: 0;
  border-radius: 4px; }

.doc_accordion {
  border: 0;
  margin-bottom: 5px; }
  .doc_accordion .card-header {
    border-radius: 0;
    border: 0;
    background: transparent;
    padding: 0; }
    .doc_accordion .card-header button {
      padding: 12px 30px;
      border-radius: 4px;
      text-align: left;
      width: 100%;
      font-size: 16px;
      color: #1d2746;
      font-weight: 500;
      background: #f0f2f5;
      text-decoration: none;
      position: relative; }
      .doc_accordion .card-header button i {
        position: absolute;
        right: 30px;
        color: var(--theme-default);
        font-size: 22px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        display: none;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .doc_accordion .card-header button i + i {
          display: block; }
    .doc_accordion .card-header button.collapsed i {
      display: block;
      color: #6b707f; }
      .doc_accordion .card-header button.collapsed i + i {
        display: none; }

.modal-open {
  padding-right: 0 !important; }

.modal-backdrop {
  background: white; }

.btn_bg {
  padding: 15px 78px; }

.icon_btn {
  border: 2px solid #79ccde;
  margin-left: 0;
  background: #f8fdfe; }
  .icon_btn i {
    padding-right: 7px; }
  .icon_btn:hover {
    border-color: var(--theme-default); }

.arrow_btn_medium {
  padding: 13px 28px; }

.arrow_btn_big {
  padding: 18px 44px;
  font-size: 18px; }
  .arrow_btn_big i {
    font-size: 28px;
    padding-left: 12px; }

.border_bottom {
  width: 100%;
  height: 1px;
  background: #e8f0f1; }

.getting-started-sec .alert-box {
  position: relative;
  padding: 30px;
  border-radius: 16px; }
  .getting-started-sec .alert-box.alert-primary {
    color: var(--theme-default);
    background-color: rgba(var(--theme-default), 0.15);
    border: none; }
  .getting-started-sec .alert-box .fa-exclamation-circle {
    color: var(--theme-default);
    margin-right: 15px;
    font-size: 25px; }
  .getting-started-sec .alert-box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625; }

.gulp-section .card-body ul {
  padding-left: 40px; }
  .gulp-section .card-body ul li {
    list-style: disc;
    margin-bottom: 10px; }

.gulp-section .card-body .list-none {
  padding-left: 25px; }
  .gulp-section .card-body .list-none li {
    list-style: none; }

.new-arrival-sec.card .card-body .arrival-content-main {
  padding: 30px;
  margin-bottom: 20px; }
  .new-arrival-sec.card .card-body .arrival-content-main .arrival-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .new-arrival-sec.card .card-body .arrival-content-main .arrival-content i {
      font-size: 25px;
      color: #9c9999; }
    .new-arrival-sec.card .card-body .arrival-content-main .arrival-content h5 {
      color: #9c9999;
      margin-left: 15px;
      margin-bottom: 0; }
  .new-arrival-sec.card .card-body .arrival-content-main:hover {
    background-color: rgba(var(--theme-default), 0.1);
    border: 1px solid var(--theme-default);
    border-radius: 25px; }
    .new-arrival-sec.card .card-body .arrival-content-main:hover h5,
    .new-arrival-sec.card .card-body .arrival-content-main:hover i {
      color: var(--theme-default); }

.custom-scrollbar.page-sidebar {
  position: fixed; }

.page-right-sidebar.page-sidebar {
  -webkit-box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
          box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
  width: 255px;
  position: fixed;
  background: white;
  height: calc(100vh);
  z-index: 9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000;
  top: 0;
  padding-top: 150px; }

.nav-link {
  color: #2a3142;
  position: relative; }
  .nav-link.active {
    color: var(--theme-default); }

.change-log-content {
  padding-top: 15px; }
  .change-log-content .change-log-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right; }
    .change-log-content .change-log-date h6 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 0; }
    .change-log-content .change-log-date p {
      font-size: 14px;
      margin-bottom: 0;
      color: #6b707f; }
  .change-log-content .log-version-info {
    margin-right: 15px;
    position: relative;
    height: 100%; }
    .change-log-content .log-version-info .log-version {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      background: var(--theme-default);
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      height: 26px;
      line-height: 27px;
      border-radius: 3px;
      color: white;
      min-width: 50px;
      max-width: 60px;
      display: block;
      margin: 0 auto; }
    .change-log-content .log-version-info .log-line {
      height: 105%;
      width: 2px;
      background: #e2e5ee;
      position: absolute;
      left: 50%;
      top: 0;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: -1; }

.right-log-content {
  padding-bottom: 50px; }
  .right-log-content p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    font-size: 14px; }
  .right-log-content span {
    font-weight: 500;
    font-size: 12px;
    padding: 0 10px;
    text-transform: uppercase;
    min-width: 130px;
    display: inline-block;
    text-align: center;
    line-height: 23px;
    margin-right: 20px;
    height: 22px;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    letter-spacing: 0.8px;
    border-radius: 20px; }
    .right-log-content span.log-improve {
      border: 1px solid #13c9ca;
      color: #13c9ca; }
    .right-log-content span.log-new {
      border: 1px solid #81ba00;
      color: #81ba00; }
    .right-log-content span.log-update {
      border: 1px solid #ffbc58;
      color: #ffbc58; }
    .right-log-content span.log-fixed {
      border: 1px solid #00a8ff;
      color: #00a8ff; }
  .right-log-content .log-download-links {
    border-top: 1px dotted rgba(51, 51, 51, 0.2); }
  .right-log-content .log-btn {
    font-size: 14px;
    color: #777c8a;
    font-weight: 500;
    margin-top: 12px;
    display: inline-block;
    opacity: 0.6; }
    .right-log-content .log-btn i {
      margin-right: 10px; }
    .right-log-content .log-btn + .log-btn {
      margin-left: 28px; }

.custom-container {
  padding-left: 80px;
  padding-right: 80px; }

.left-sidebar .sticky-sidebar {
  position: sticky !important;
  z-index: 1;
  overflow-y: auto;
  top: 60px; }

.left-sidebar h2 {
  margin-bottom: 25px; }

.left-sidebar::-webkit-scrollbar {
  width: 0px; }

.content.component-col {
  padding-right: 12px; }

.document-main {
  padding-top: 100px; }

.right-sidebar {
  width: 300px;
  position: fixed;
  top: 75px;
  padding-top: 30px;
  right: 80px; }

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav-sidebar > .nav-item .title {
  margin-bottom: 0;
  margin-top: 3px;
  position: relative;
  padding: 11px 20px;
  background-color: #f6f6f6;
  font-weight: 600;
  letter-spacing: 1.3px;
  color: #868686;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav-sidebar > .nav-item img {
  width: 20px;
  margin-right: 10px; }

.nav-sidebar > .nav-item .icon {
  top: 15px;
  right: 20px;
  position: absolute;
  color: #a7a7a7;
  font-size: 14px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor: pointer; }
  .nav-sidebar > .nav-item .icon i {
    display: inline-block;
    float: right; }
    .nav-sidebar > .nav-item .icon i + i {
      display: none; }

.nav-sidebar .nav-item .title.active .icon i {
  display: none; }
  .nav-sidebar .nav-item .title.active .icon i + i {
    display: inline-block; }

.parent-title {
  margin-top: 30px;
  padding: 15px 20px;
  line-height: 1.4;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  font-weight: 700;
  color: #606060; }

.dropdown-nav {
  padding: 15px 30px;
  list-style: none; }
  .dropdown-nav li a {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    color: #898989;
    padding: 0; }

.direct .nav-link {
  padding: 15px 20px;
  line-height: 1.4;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  font-weight: 700;
  color: #606060;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 5px; }
  .direct .nav-link.active {
    color: var(--theme-default);
    border-left: 3px solid var(--theme-default); }

.img-border {
  padding: 5px;
  border: 2px dashed black;
  width: 100%; }

.appDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important; }

.main-title {
  color: #333;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-weight: 700; }

hr.style-element {
  margin: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320))) 0;
  background-color: #dee3f9;
  opacity: 1; }

.code-section {
  border: 1px solid #dee3f9;
  border-radius: 5px; }
  .code-section .nav-tabs {
    border-bottom: 1px solid #dee2e6;
    padding: 10px; }
    .code-section .nav-tabs .nav-link {
      cursor: pointer; }
      .code-section .nav-tabs .nav-link.active {
        border-radius: 5px;
        color: #ffffff;
        background-color: #8a8a8a; }
  .code-section pre[class*=language-] {
    margin: 0; }
  .code-section .code-box-copy pre[class*="language-"] {
    border: 0;
    border-radius: 0;
    background: #f8f8f8;
    max-height: 450px;
    overflow: auto; }
  .code-section .code-box-copy__btn {
    opacity: 1;
    position: absolute;
    top: -49px;
    right: 11px;
    width: auto;
    height: 38px;
    background-color: #f6f7fb;
    border: 1px solid #dee3f9;
    color: #333;
    border-radius: 4px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    padding: 0 12px; }
    .code-section .code-box-copy__btn i {
      margin-right: 10px; }

.code-box-copy {
  display: block !important; }
