.theme-color-1 {
    --theme-default: #ff4c3b;
}
.theme-color-2 {
    --theme-default: #f0583d;
}
.theme-color-3 {
    --theme-default: #f0b54d;
}
.theme-color-4 {
    --theme-default: #e4604a;
}
.theme-color-5 {
    --theme-default: #d4b196;
}
.theme-color-6 {
    --theme-default: #866e6c;
}
.theme-color-7 {
    --theme-default: #cc2121;
}
.theme-color-8 {
    --theme-default: #dc457e;
}
.theme-color-9 {
    --theme-default: #6d7e87;
}
.theme-color-10 {
    --theme-default: #fa869b;
}
.theme-color-11 {
    --theme-default: #81ba00;
}
.theme-color-12 {
    --theme-default: #fe816d;
}
.theme-color-13 {
    --theme-default: #01effc;
    --theme-default2: #485ff2; 
}
.theme-color-14 {
    --theme-default: #5d7227;
    --theme-default2: #203f15; 
}
.theme-color-15 {
    --theme-default: #ff9944;
}
.theme-color-16 {
    --theme-default: #5fcbc4;
}
.theme-color-17 {
    --theme-default: #e38888;
}
.theme-color-18 {
    --theme-default: #000000;
}
.theme-color-19 {
    --theme-default: #3e5067;
}
.theme-color-20 {
    --theme-default: #3fc1c9;
}
.theme-color-21 {
    --theme-default: #5ecee4;
}
.theme-color-22 {
    --theme-default:#38c6bb;
}
.theme-color-23 {
    --theme-default: #2874f0;
}
.theme-color-24 {
    --theme-default: #90453e;
}
.theme-color-25 {
    --theme-default: #3fd09e;
}
.theme-color-26 {
    --theme-default: #6d6659;
}
.theme-color-27 {
    --theme-default: #f39910;
    --theme-default2:#394868; 
}
.theme-color-28 {
    --theme-default:#387ef0;
}
.theme-color-29 {
    --theme-default:#DD5E89;
    --theme-default2: #F7BB97;
}


// utils
@import "utils/helpers";
@import "utils/variables";
@import "utils/mixins";
//base
@import "base/typography";
@import "base/reset";
// components
@import "components/animation";
@import "components/button";
@import "components/ratio";
@import "components/slick-slider";
@import "components/timer";
@import "components/title";
@import "components/theme-tab";

//layout
@import "layout/ajax-search";
@import "layout/banner";
@import "layout/blog";
@import "layout/cart";
@import "layout/category";
@import "layout/cookie-bar";
@import "layout/demo";
@import "layout/footer";
@import "layout/header";
@import "layout/home-slider";
@import "layout/instagram";
@import "layout/loader";
@import "layout/menu";
@import "layout/modal";
@import "layout/other";
@import "layout/portfolio";
@import "layout/product-box";
@import "layout/service";
@import "layout/slider";
@import "layout/tap-top";
//pages
@import "pages/inner-page";
@import "pages/invoice";
// themes
@import "themes/dark";
@import "themes/theme-setting";
@import "themes/responsive";
@import "themes/rtl";